.Watchers-embedContainer {
    position: relative;
    border: 1px solid #2f3c44;
}

.Watchers-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    background-color: #18262e;
}

.Watchers-closer {
    cursor: pointer;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    background-color: #fb6839;
    color: aliceblue;
}

.Watchers-name {
    padding: 0 20px;
    font-weight: 500;
    font-size: 1.2rem;
    color: aliceblue;
}

.Watchers-price {
    padding: 0 20px;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #1c2927;
    color: aliceblue;
}

.Watchers-locker {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}