.Markets {
    height: 100%;
    width: 300px;
    padding: 20px 0;
    overflow-y: scroll;
    background-color: #3a444d;
}

.Markets-exchange {
    text-align: left;
    line-height: 1.5rem;
    padding: 1px 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.Markets-currency {
    text-align: left;
    line-height: 1.5rem;
    padding: 1px 10px;
    padding-left: 10px;
    background-color: #48525a;
    cursor: pointer;
}