.MultiWatch-cols {
    display: flex;
}

.MultiWatch-Markers {
    max-width: 300px;
    width: 20%;
    border: 1px solid grey;
}

.MultiWatch-Markers-hide {
    display: none;
}

.MultiWatch-Watchers {
    min-width: calc(100% - 300px);
    width: 80%;
    border: 1px solid grey;
}

.MultiWatch-TimePeriod {
    width: 100%;
}