body {
  background-color: #18252e;
  color: beige;
  font-family: 'Open Sans', sans-serif;
}
.App {
  text-align: center;
}

@media (max-width: 450px) {
  #no-portrait {
    display: block;
  }
  #root {
    display: none;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 30px;
  color: white;
  line-height: 30px;
}
.App-footer {
  background-color: #222;
  height: 30px;
  color: white;
  line-height: 30px;
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

.App-footer-col {
  text-decoration: underline;
  color: whitesmoke;
  padding: 0 10px;
}

.App-intro {
  font-size: large;
}
.App-content {
  font-size: small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
